<!DOCTYPE html>
<html>
<head>
  <title>Exercice 3</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app" style="max-width: 30em;">
        <div style="display: inline-block;">
            <table class="table">
                    <tr>
                        <th>Country</th>
                        <th class="centered">Calling code</th>
                    </tr>
                    <tr v-for="(country, index) in countries" :key="country.name">
                        <th :class="{ 'gris': country.callingCodes[0]>32 }">{{country.name}}</th>
                        <th :class="{ 'gris': country.callingCodes[0]>32 }" class="centered">{{country.callingCodes[0]}}</th>
                    </tr>
            </table>
            <div class="editor">
                <fieldset>
                    <legend>Editor</legend>
                    <div class="form-group">
                        <select class="form-control custom-select" v-model="selected">
                            <option v-for="(country, index) in countries" :key="country.name" :value="index">{{country.name}}</option>
                        </select>
                        <div style="width: 20px;"></div>
                        <input type="text" class="form-control" style="width: 80px;text-align: right;" v-model="countries[selected].callingCodes[0]" placeholder="Entrez le nouveau calling code">
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="module" >
    import {countries} from "./sample_countries.js";
    Vue.createApp({
        data(){ return {
            countries: countries,
            selected:0,
            dark:true
        }}
    }).mount('#app')
    </script>
</body>
</html>