<!DOCTYPE html>
<html>
<head>
  <title>Exercice 1</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>
<body>
    <div id="app" style="display: flex ; flex-direction: column">
        <div>
            <input type="text" class="input-sm" v-model="name" placeholder="Entrez votre nom">
        </div>
        <div class="mdl-card mdl-shadow--3dp main_background">
            <div class="mdl-card__title mdl-card--expand">
                <div v-if="name!=''">
                    <h4>{{name}}</h4>
                    <h3>
                        <p>Nickname : {{name}} The Terrible</p>
                        <p>Mail : {{name}}@truc.fr</p>
                    </h3>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border footer_background">
                <span v-if="name!=''" >Fiche de {{name}}</span>
                <span v-else>Fiche de ???</span>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
        const App = {
            data(){ return{
                name: ''
            }}
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>