<!DOCTYPE html>
<html>
<head>
  <title>Exercice 2</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app">
        <div style="display: inline-block;">
            <div>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Country</th>
                        <th>Calling code</th>
                    </tr>                   
                    <tr v-for="(country, index) in countries" :key="country.name">
                        <th>{{index}}</th>
                        <th>{{country.name}}</th>
                        <th>{{country.callingCodes[0]}}</th>
                    </tr>
                </table>
            </div>
            <div class="editor">
                <fieldset>
                    <legend>Editor</legend>
                    <div class="form-group">
                        <select class="form-control custom-select" v-model="selected">
                            <option v-for="(country, index) in countries" :key="country.name" :value="index">{{country.name}}</option>
                        </select>
                        <div style="width: 20px;"></div>
                        <input type="text" class="form-control" style="width: 80px;text-align: right;" v-model="countries[selected].callingCodes[0]" placeholder="Entrez le nouveau calling code">
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <script type="module" >
    import {countries} from "./sample_countries.js";
    Vue.createApp({
        data(){ return {
            countries: countries,
            selected:0
        }}
    }).mount('#app')
    </script>
</body>
</html>