.container {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.user-card {
    min-width: 320px;
    max-width: 450px;
    min-height: 180px;
    border: 1px solid #d3d3d3;
    background: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5em;
}

.mdl-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}

.cardTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spacer{
    flex: 1 1 0%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: .9em;
}

.pseudo {
    font-weight: 700;
}

.details {
    margin: 3px 10px;
    font-size: .8em;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

*, :after, :before {
    box-sizing: border-box;
}