<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  <title>Exercice 4</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <div>
                <div class="form-group">
                    <label>Nick name</label>
                    <input v-model="nickName" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label>Nom Complet <span style="font-size: 0.85em;">(sera re-formaté)</span></label>
                    <input v-model="name" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label>Adresse</label>
                    <input v-model="address" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label>Pays</label>
                    <select class="form-control custom-control" v-model="selected">
                        <option v-for="(country, index) in countries" :key="country.name" :value="index">{{country.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Téléphone</label>
                    <input v-model="phoneNumber" class="form-control"></input>
                </div>
            </div>
            <div class="cardContainer">
                <div class="mdl-shadow--3dp user-card">
                    <div class="cardTitle">
                        <div>
                            <img src="icon.png">
                        </div>
                        <div class="spacer"></div>
                        <div class="info">
                            <div>
                                <span class="pseudo">{{nickName}}</span>
                            </div>
                            <div>
                                <span>{{nameComputed}}</span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="details">
                        <div>{{address}} 
                            <br>
                            <span>{{countryName}}</span>
                        </div>
                        <div v-if="phone!=''">{{phone}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="module" >
    import {countries} from "./sample_countries.js";
    Vue.createApp({
        data(){ return {
            countries: countries,
            selected:0,
            nickName:'',
            name:'',
            address:'',
            phoneNumber: ''
        }},
        computed: {
            nameComputed(){
                this.name.replace(/ +(?= )/g,'');
                var spaceIndex = this.name.indexOf(' ');
                if(spaceIndex == -1)
                    spaceIndex = this.name.length;
                if(this.name != '')
                    return this.name.charAt(0).toUpperCase() + this.name.slice(1, spaceIndex).toLowerCase() + this.name.slice(spaceIndex).toUpperCase();
                else
                    return '';
            },
            countryName(){
                return this.countries[this.selected].name;
            },
            phone(){
                return this.phoneNumber != '' ? "(+" + this.countries[this.selected].callingCodes[0] + ")  " + this.phoneNumber : '';
            }            
        }
    }).mount('#app')
    </script>
</body>
</html>