<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Exercice 4</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="app">
        <div class="main">
            <h1>User Information</h1>
            <div class="container">
                <div>
                    <div class="form-group">
                        <label>Nick name</label>
                        <input v-model="nickName" class="form-control" :class="{ 'error': !checkNickNameFormat }"></input>
                        <div v-if="!checkNickNameFormat" class="error-msg">Ne doit pas être vide</div>
                    </div>
                    <div class="form-group">
                        <label>Nom Complet <span style="font-size: 0.85em;">(sera re-formaté)</span></label>
                        <input v-model="name" class="form-control" :class="{ 'error': !checkNameFormat }"></input>
                        <div v-if="!checkNameFormat" class="error-msg">Format : "prénom nom"</div>
                    </div>
                    <div class="form-group">
                        <label>Adresse</label>
                        <input v-model="address" class="form-control"></input>
                    </div>
                    <div class="form-group">
                        <label>Pays</label>
                        <select class="form-control custom-control" v-model="selected" disabled="disabled">
                            <option v-for="(country, index) in countries" :key="country.name" :value="index">{{country.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Téléphone</label>
                        <input v-model="phoneNumber" class="form-control" :class="{ 'error': !checkPhoneFormat }"></input>
                        <div v-if="!checkPhoneFormat" class="error-msg">Doit comporter 9 chiffres</div>
                    </div>
                </div>
                <div class="cardContainer">
                    <div class="mdl-shadow--3dp user-card">
                        <div class="cardTitle">
                            <div>
                                <img src="icon.png">
                            </div>
                            <div class="spacer"></div>
                            <div class="info">
                                <div>
                                    <span class="pseudo">{{nickName}}</span>
                                </div>
                                <div>
                                    <span>{{nameComputed}}</span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <div>{{address}} 
                                <br>
                                <span>{{countryName}}</span>
                            </div>
                            <div v-if="phone!=''">{{phone}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttonsGroup">
                <button :disabled="!(checkNickNameFormat && checkNameFormat && checkPhoneFormat)" class="btn-primary btn" data-toggle="modal" data-target="#exampleModal">Enregistrer</button>
                <button class="btn-secondary btn" v-on:click="erase">Effacer</button>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Euh...</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>... cette fonctionnalité n'est pas encore implémentée !</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="module" >
    import {countries} from "./sample_countries.js";
    Vue.createApp({
        data(){ return {
            countries: countries,
            selected:0,
            nickName:'',
            name:'',
            address:'',
            phoneNumber: '',
            RGEX: /^[a-zA-Z]+([- ]+[a-zA-Z]+)+$/
        }},
        methods:{
            formatPhone(phoneNumber){
                if(phoneNumber.length >= 2)
                    phoneNumber = phoneNumber.insert(1, " ")
                if(phoneNumber.length >= 5)
                    phoneNumber = phoneNumber.insert(4, " ")
                if(phoneNumber.length >= 7)
                    phoneNumber = phoneNumber.insert(7, " ")
                if(phoneNumber.length >= 10)
                    phoneNumber = phoneNumber.insert(10, " ")
                return phoneNumber.substring(0, 13);
            },
            erase(){
                this.nickName = '';
                this.name = '';
                this.address = '';
                this.phoneNumber = '';
                this.disabled = true;
            }
        },
        computed: {
            nameComputed(){
                this.name.replace(/ +(?= )/g,'');
                var spaceIndex = this.name.indexOf(' ');
                if(spaceIndex == -1)
                    spaceIndex = this.name.length;
                if(this.name != '')
                    return this.name.charAt(0).toUpperCase() + this.name.slice(1, spaceIndex).toLowerCase() + this.name.slice(spaceIndex).toUpperCase();
                else
                    return '';
            },
            countryName(){
                return this.countries[this.selected].name;
            },
            phone(){
                this.phoneNumber = this.phoneNumber.trim();
                return this.phoneNumber != '' ? "(+" + this.countries[this.selected].callingCodes[0] + ")  " + this.formatPhone(this.phoneNumber) : '';
            },
            checkNickNameFormat(){
                if(this.nickName.length > 0)
                    return true;
                else
                    return false;
            },
            checkNameFormat(){
                this.name = this.name.trimLeft();
                return this.RGEX.test(this.name);
            },
            checkPhoneFormat(){
                if(this.phoneNumber.length == 9)
                    return true;
                else
                    return false;
            }
        }
    }).mount('#app')
    String.prototype.insert = function(index, string) {
        if (index > 0)
            return this.substring(0, index) + string + this.substr(index);
        return string + this;
    };
    </script>
</body>
</html>